@font-face {
  font-family: "Mitera";
  src: url(./assets/fonts/Mitera-Regular.woff);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background: #f3f3f3;

  color: #252525;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding-bottom: 10rem;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
}

a {
  color: #252525;
  text-decoration: none;
}

p.bold {
  font-size: 1.4rem;
  font-weight: 600;
}

.container {
  max-width: 168rem;
  margin: 0 auto;
}

#smooth-content {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.line-wrapper {
  overflow: hidden;
}

nav {
  margin-top: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav__wrapper ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav__wrapper ul li {
  height: 2rem;
  overflow: hidden;
  position: relative;
  padding: 0 0.5rem;
}

.nav__wrapper ul li p {
  text-align: right;
  transition: all 0.5s ease;
}

.nav__wrapper ul li:hover p {
  color: #f3f3f3;
}

.nav__wrapper ul li:hover::before {
  top: 0;
}

.nav__wrapper ul li::before {
  content: "";
  position: absolute;
  top: 101%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #252525;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: -1;
}

.logo {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.logo:hover {
  color: #f3f3f3;
}

.logo:hover::before {
  top: 0;
}

.logo::before {
  content: "";
  position: absolute;
  top: 101%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #252525;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: -1;
}

.bg__lines {
  max-width: 168rem;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -1;
  opacity: 0.04;
}

.column {
  width: 15rem;
  height: 100vh;
  border-right: 0.5px solid #252526;
  border-left: 0.5px solid #252526;
}

/* hero section */
#hero {
  margin-top: 40rem;
}

#hero p {
  max-width: 51.1rem;
}

.hero__content {
  display: flex;
  align-items: flex-end;
  gap: 10.2rem;
}

.arrow {
  width: 7rem;
}

.squares {
  width: 1.5rem;
  margin-bottom: 1rem;
}

/* heading */
.heading {
  margin-top: 11rem;
  font-size: 8.45rem;
  font-family: Mitera;
  line-height: 13rem;
  font-weight: 400;
  text-align: center;
}

/* about para */
#about {
  margin-top: 21.5rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 46rem;
  margin-bottom: 30rem;
}

.about__para {
  max-width: 49rem;
}

.about__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 14.3rem;
}

.about__heading__wrapper img {
  width: 4.9rem;
  margin-top: 3rem;
}

#projects {
  margin-bottom: 20rem;
}

.project__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25.5rem;
}

.project__wrapper img {
  width: 119.1rem;
}

.project__img__wrapper {
  overflow: hidden;
}

.project__text {
  max-width: 34rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

/* MOBILE */
@media screen and (max-width: 500px) {
  html {
    font-size: calc(100vw / 500 * 10);
  }

  .container {
    padding: 0 2rem;
  }

  nav {
    display: none;
  }

  #hero {
    margin-top: 20rem;
  }

  .hero__content {
    flex-direction: column;
    align-items: flex-end;
  }

  .hero__content p {
    width: 100%;
  }

  .heading {
    font-size: 4.3rem;
    line-height: 6.4rem;
    text-align: left;
  }

  #about {
    padding: 0 2rem;
    width: 100%;
  }

  .about__content {
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }

  .about__para {
    width: 276px;
  }
  
  .project__wrapper {
    flex-direction: column;
    gap: 3rem;
  }

  .project__text {
    max-width: 100%;
    gap: 2rem;
  }

  .project__wrapper img {
    height: 40rem;
  }
}
